%h1
  Listing line_items

%table
  %tr
    %th
      Basket
    %th 
      Product
    %th
      Quantity
    %th
      &nbsp;
    %th
      &nbsp;
    %th
      &nbsp;

  - @line_items.each do |line_item|
    %tr
      %td 
        = line_item.basket_id 
      %td 
        = line_item.product_id 
      %td 
        = line_item.quantity 
      %td 
        = link_to 'Edit', edit_line_item_path(line_item) 
      %td
        = link_to 'Destroy', line_item, :confirm => 'Are you sure?', :method => :delete
%br

= link_to 'New Line item', new_line_item_path
